<div id="offerResponseBar" ng-controller="OfferResponseController">
	<div ng-show="selectedOffer.response" class="text-center">
		<p ng-class="'bg-' + responseDisplayClassFragment(selectedOffer.response)">
			<i class="fa" ng-class="responseDisplayIconClass(selectedOffer.response)"></i>
			{{responseDisplayText(selectedOffer.response)}}
			<a class="small" ng-click="showChangeResponse = !showChangeResponse">{{showChangeResponse? "Cancel" : "Change"}}</a>
		</p>
	</div>
	<div ng-show="!selectedOffer.response || showChangeResponse" ng-include="'templates/item-response-buttons.html'"></div>
</div>