<div class="navbar navbar-absolute-bottom">
	<div ng-include="'templates/item-response-bar.html'"></div>
</div>
</div>
<div class="app-body">
    <div class="app-content">
    	<section class="section container-fluid list-group">
    		<li class="list-group-item">
				<h3 class="center-block text-center">{{selectedOffer.title}}</h3>
			</li>
    		<li class="list-group-item">
				<p class="lead">{{selectedOffer.description}}</p>
			</li>
			<li class="list-group-item row">
		        <div class="col-xs-8">
					<address>
						<strong>{{selectedOffer.venue}}</strong><br />
						1423 46th ave S.
					</address>
				</div>
		        <h4 class="col-xs-4 text-center ">
		        	<span class="label label-info label-as-badge">
						<i class="fa fa-map-marker"></i> 4.2 mi
					</span>
		        </h4>
		        <div class="col-xs-12 text-center">
		        	<div class="btn btn-info directionsButton"><i class="fa fa-car"></i> Get Directions</div>
		        </div>
	        </li>
		</section>
	</div>
</div>
