<div id="offerResponseBar" ng-controller="OfferResponseController">
	<div ng-show="selectedOffer.response" class="text-center">
		<p ng-class="'bg-' + responseDisplayClassFragment(selectedOffer.response)">
			<i class="fa" ng-class="responseDisplayIconClass(selectedOffer.response)"></i>
			{{responseDisplayText(selectedOffer.response)}}
			<a class="small" ng-click="showChangeResponse = !showChangeResponse">{{showChangeResponse? "Cancel" : "Change"}}</a>
			<br/>
			<a ng-show="!showChangeResponse && selectedOffer.response == 'ACCEPT'" 
				class="btn btn-success claimOfferButton"
				ng-click="selectedOffer.showOffer = true">
				<i class="fa fa-map-marker"></i> Claim Offer
			</a>
		</p>
	</div>
	<div ng-show="!selectedOffer.response || showChangeResponse" ng-include="'templates/offer-response-buttons.html'"></div>
</div>