<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WhereItsApp</name>
    <description>
        Connecting you with where you want to be.
    </description>
    <author>
        Scott Morse
    </author>
    <access origin="whereitsapi-staging.heroku.com" subdomains="true"/>
    <access origin="whereitsapi-prod.heroku.com" subdomains="true"/>
</widget>
