ng-view {
	height: 100%;
	background-color: white;
}

.app-name {
	line-height: 50px;
}

#hate-it-options {
	background-color: #FF938D;
}

#loadingBg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #ddd;
	opacity: .2;
}

#loadingImage {
	height: 64px;
	width: 64px;
	top: 50%;
	left: 50%;	
	opacity: 1;
	z-index: 2;
	margin-left: -32px;
	margin-right: 32px;
	position: absolute;
}


#offerResponseBar .btn {
	margin: 5px;
}

#offerResponseBar .acceptOffer {
	padding-left: 45px;
	padding-right: 45px;
	border-color: green;
	font-weight: bold;
}

#offerResponseBar .declineOffer {
	padding-left: 20px;
	padding-right: 20px;
}	

#offerResponseBar .hateOffer {
	opacity: .5;
}

#offerResponseBar .claimOfferButton {
	margin: 15px;
}

.mainTitle {
	font-family: 'Playfair Display', serif;
}

.ng-modal-overlay {
	border-radius: 3px;
}

.ng-modal-title {
	font-size: 125%;
}

.ng-modal-dialog-content table{
	width: 100%;
}

.secretPassphrase {
	border-radius: 3px;
	font-size: 125%;
	text-align: center;
	padding: 50px;
}

address {
	margin-bottom: 0px;
	margin-top: 0px;
}

.label-as-badge {
	border-radius: 1em;
	display: inline-block;
	margin: 5px;
}

a.offer-item {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 5px;
}

hr {
	margin: 10px;
}

.directionsButton {
	margin: 10px;
}
