
.primary-color {
	background-color: #78C0A8;
	color: white;
}

.secondary-color {
	background-color: #DDDDDD;
	color: black;
}

.section {
	padding-top: 20px;
}

.app-name {
	margin: 0 15px;
	line-height: 50px;
}

.snap-content {
}

.my-navbar {
	width: 100%;
	margin-bottom: 0px;
}

.my-navbar-brand {
    text-align: center;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color:white;
}

.navbar-brand {
    color: white;
	width: 100%;
}

.navbar-default {
	border: none;
}

.leftNavButton, .rightNavButton {
	width: 50px;
	text-align: center;
	color: white;
}

.leftNavButton a, .rightNavButton a {
	color: white;
}

.mainSnapContent {
	background-color: white;
}

.list-group-item.active, .list-group-item.active:focus {
    background-color: #34aadc;
    border-color: #34AAE9;
}

#hate-it-options {
	background-color: #FF938D;
}

#loadingBg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #ddd;
	opacity: .4;
}

#loadingImage {
	height: 64px;
	width: 64px;
	top: 50%;
	left: 50%;	
	opacity: 1;
	z-index: 2;
	margin-left: -32px;
	margin-right: 32px;
	margin-top: -32px;
	position: absolute;
}

.offer-image {
	width: 100%;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.offer-title {
	position: absolute;
    bottom: 0;
    margin: 0px;
    padding: 10px;
    background-color: rgba(0,0,0, .5);
    color: white;
    width: 100%;
}

.offer-heading {
	padding: 0;
}

.offer-content {
	margin-top: 20px;
}

a.offer-item {
	padding-top: 0px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
}

#offerResponseBar {
	background-color: white;
}

#offerResponseBar .btn {
	margin: 5px;
}

#offerResponseBar .acceptOffer {
	padding-left: 45px;
	padding-right: 45px;
	border-color: green;
	font-weight: bold;
	margin-bottom: 15px;
}

#offerResponseBar .declineOffer {
	padding-left: 20px;
	padding-right: 20px;
}	

#offerResponseBar .hateOffer {
	opacity: .5;
}

#offerResponseBar .claimOfferButton {
	margin: 15px;
}

.mainTitle {
	font-family: 'Playfair Display', serif;
}

.ng-modal-overlay {
	border-radius: 3px;
}

.ng-modal-title {
	font-size: 125%;
}

.ng-modal-dialog-content table{
	width: 100%;
}

.secretPassphrase {
	border-radius: 3px;
	font-size: 125%;
	text-align: center;
	padding: 50px;
}

address {
	margin-bottom: 0px;
	margin-top: 0px;
}

.label-as-badge {
	border-radius: 1em;
	display: inline-block;
}

.offer-badges {
	font-size: 18px;
}

.loginMessage {
	margin-top: 60px;
	margin-bottom: 40px;
}

.environmentToggle {
	float: right;
	margin-top: 100px;
}

.directionsButton {
	margin: 10px;
}

.my-panel {
	margin-top: 10px;
	border-color: #cccccc;
}

.my-panel .panel-heading {
	padding: 5px;
	background-color: white;
	border-color: inherit;
}

.my-panel .panel-heading .panel-title {
	font-size: 14px;
}

.my-label {
	border-bottom: 1px solid;
	border-radius: 0;
	padding: .4em .6em;
	font-size: 14px;
}

.my-label-primary {
	color: #007aff;
}

.my-label-success {
	color: #4cd964;
}
