.ui-footer-fixed {
    padding-bottom: 0px;
}

.hide {
    display: none;
}

#page-header h1 {
    font-family: 'Dosis', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

ul.small-spacing li {
    margin-bottom: 5px;
}

ul.med-spacing li {
    margin-bottom: 15px;
}

ul.large-spacing li {
    margin-bottom: 25px;
}

.mtl, .mal {
    margin-top: 25px !important;
}

.mbl, .mal {
    margin-bottom: 25px !important;
}

.mtm, .mam {
    margin-top: 15px !important;
}

.mbm, .mam {
    margin-bottom: 15px !important;
}

.mts, .mas {
    margin-top: 5px !important;
}

.mbs, .mas {
    margin-bottom: 5px !important;
}

.mll, .mal {
    margin-left: 25px !important;
}

.mrl, .mal {
    margin-right: 25px !important;
}

.mls, .mas {
    margin-left: 5px !important;
}

.mrs, .mas {
    margin-right: 5px !important;
}

.mlm, .mam {
    margin-left: 15px !important;
}

.mrm, .mam {
    margin-right: 15px !important;
}

textarea, textarea.ui-input-text {
    resize: none;
}

#loading-gif {
    position: fixed;
    left: 50%;
    margin-left: -8px; /* half width of the spinner gif */
    margin-top: 15px;
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 8; /* width of the spinner gif */
    height: 11px; /*height of the spinner gif +2px to fix IE8 issue */
}

#item-creation-form {
    margin: 15px;
}

.list-item-image {
    height: 50px;
    width: 50px;
}

.stackable-half-width {
    width: 50%;
    display: inline-block;
    float: left;
}

@media (max-width: 400px) {
    .stackable-half-width {
        width: 100%;
    }
}
