.ui-footer-fixed {
    padding-bottom: 0px;
}

.hide {
    display: none;
}

#page-header h1 {
    font-family: 'Dosis', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

ul.small-spacing li {
    margin-bottom: 5px;
}

ul.med-spacing li {
    margin-bottom: 15px;
}

ul.large-spacing li {
    margin-bottom: 25px;
}

textarea, textarea.ui-input-text {
    resize: none;
}

#loading-gif {
    position: fixed;
    left: 50%;
    margin-left: -8px; /* half width of the spinner gif */
    margin-top: 15px;
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 8; /* width of the spinner gif */
    height: 11px; /*height of the spinner gif +2px to fix IE8 issue */
}

#item-creation-form {
    margin: 15px;
}
